    <p>You've visited a page here <%=visitnum%> times</p>
    <p>Made with the help of <%=fake1%> and <%=fake2%>, if you have any questions, email <%=email%></p>
    <br>
    <p>Note: none of the names or emails above are real, they exist solely for project purposes</p>
    </body>
</html>