<%- include('partials/header.ejs') %>

 <header>
            <h1>
                C++
            </h1>
        </header>
        <nav>
            <a href="/" >Main</a>
            <a href="/cplusplus" id="current">C++</a>
            <a href="/java">Java</a>
            <a href="/objectoriented">Object Oriented</a>
        </nav>
        <br /><br />
        
        <figure >
            <img src="img/History-of-C.jpg" id="cpluspluspic" alt="picture"/>
        </figure>
        
        <div id="cexplain">
        <p>C++ is the first language that I learned, and is the language that I started learning programming with.</p> 
        <p>C++ first began being developed in 1979, by a Danish Computer Scientist named Bjarne Stroustrup, who wanted to create a more advanced version of the C 
        programming language. However, the language we now know as C++ wasn't officially named this until 1983, as before this it waas known as C with classes.</p>
        <p>C++ was first officially published in 1985, and one of the few changes to the actual language happened in 1989, when protected and static membbers were added.
        After this, most new developments were the addition of new libraries and standards. The most recent major change has been the creation of c++11, 
        so named because 2011 was its year of release.</p>
        <p>On a personal note, I enjoy coding in C++, mostly due to the fact that it isn't a restrictive language. 
        Generally, if you want to trytodo or manipulate something in C++, there is a way to do so. However, you do have to be careful, since if you manipulate 
        the wrong section of memory, things could go very wrong.</p>

        </div>
        
        <footer>
            <a href="https://www.geeksforgeeks.org/history-of-c/" >Source One</a>
            <a href="http://www.cplusplus.com/info/history/" >Source Two</a>
        </footer>
        
<%- include('partials/footer.ejs') %>