<%- include('partials/header.ejs') %>

        <header>
            <h1>
                Home
            </h1>
        </header>
        <nav>
            <a href="/" id="current">Main</a>
            <a href="/cplusplus">C++</a>
            <a href="/java">Java</a>
            <a href="/objectoriented">Object Oriented</a>
        </nav>
        <br /><br />
        
        <figure id="homeimg">
            <img src="img/logo.png" alt="picture"/>
        </figure>
        
        <div id="welcomeText">
        Hello! <br/>
        <p> In this website, I've included information about the programming languages that I know, as well as an explanation of object oriented programming. </p>
        <p> The languages are c++ and Java, and I've found sources that explain the history of these languages. </p>
        <p> Along with this, I'll include a brief overview of what I've learned working with the languages. </p>
        <p>Additionally, this project is being run on a nodejs server, which lets me use additional packages made by other people to add to my page.</p>
        <p>For example: this project uses the faker package, which is used to diplay fake names and emails at the bottom of each page</p>
        <p> Finally, the link to my sources will beat the bottom of each page. </p>

        
        </div>
        
<%- include('partials/footer.ejs') %>